h1 {
    background-color: #050505;
    color: #3bd5ed;
}

body{
    font-family: "Times New Roman", Times, serif;
    color: #162b96;
    background-color: #e5db85;
}

eins{
    color: #e51422;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
