h1 {
    background-color: #1c88ed;
    color: #83898e;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: #303335;
    background-color: #bddef9;
}

#eins {
    color: #e51422;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
