h1 {
    background-color: #1a5fce;
    color: #eff2f7;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: #6b717a;
    background-color: #d1e0f9;
}

#eins {
    color: #e51422;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
